<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">

    <context:annotation-config/>

    <bean id="hello" class="org.example.Hello" name="h w e b">
        <constructor-arg index="0" value="12"/>
        <constructor-arg index="1" value="1"/>
        <!--        ref 引用spring中创建好的对象-->
        <property name="name" value="Lilin" />
        <property name="scores">
            <set>
                <value>12.2</value>
            </set>
        </property>
        <property name="books">
            <array>
                <value>first</value>
                <value>"second"</value>
            </array>
        </property>
    </bean>

    <bean id="user" class="org.example.Hello" >

    </bean>



</beans>